    </main>
    <footer>
        <div class="container">Created by <a href="mailto:benjamin.c.liden@gmail.com?subject=The Recipe Box feedback">Benjamin Liden</a>. Find more of my work on <a href="https://www.github.com/bliden" target="_blank">Github</a>.</div>
    </footer>
</body>
</html>