<% include partials/header %>

    <div class="card big error">
        <p class="card-title">error</p>
        <h2 class="title">Oops...</h2>
        <p class="desc">Something went wrong.</p>
        <% if(error){ %>
            <pre><%= error %></pre>
        <% } %>
        <% if(message){ %>
            <pre><%= message %></re>
        <% } %>
        <hr class="show-hr">
        <a href="javascript:history.back()">< Back</a>
    </div>

<% include partials/footer %>