<% include partials/header %>

    <div class="card big error">
        <p class="card-title">error</p>
        <h2 class="title">Oops...</h2>
        <p class="desc">Something went wrong.</p>
        <% if(error){ %>
            <pre><%= error %></pre>
        <% } %>
        <% if(message){ %>
            <pre><%= message %></re>
        <% } %>
        <hr class="show-hr">
        <div class="buttons">
            <a href="javascript:history.back()" class="btn cancel">< Back</a>
            <a href="/recipes" class="btn">Index</a>
        </div>
    </div>

<% include partials/footer %>