<% include partials/header %>
<%#    <h2>Featured recipe:</h2> %>
    <div class="featured card clearfix">
        <p class="card-title">Featured recipe</p>
        <h2 class="title">Lorem Ipsum</h3>
        <p class="author">by: <span class="authorname">Dolor Sit Amet</span></p>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores magni velit eos ipsam, necessitatibus officiis voluptate quis harum laboriosam nulla, molestias quibusdam officia voluptates! Rem natus quis a eveniet nihil!
        </p>
        <%# <a href="#" class="btn">Show me!</a> %>
    </div>
    <ul class="list-card card">
        <p class="card-title">All recipes</p>
        <li class="list-item">
            <h3 class="title">Lorem Ipsum</h3>
            <p class="author">by: <span class="author-name">Dolor Sit Amet</span></p>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ab sint, corporis similique exercitationem saepe aliquam molestias quidem adipisci culpa nostrum iusto assumenda eligendi dolor. Culpa, accusantium doloribus! Corporis, ut?
            </p>
        </li>
        <li class="list-item">
            <h3 class="title">Lorem Ipsum</h3>
            <p class="author">by: <span class="author-name">Dolor Sit Amet</span></p>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ab sint, corporis similique exercitationem saepe aliquam molestias quidem adipisci culpa nostrum iusto assumenda eligendi dolor. Culpa, accusantium doloribus! Corporis, ut?
            </p>
        </li>
        <li class="list-item">
            <h3 class="title">Lorem Ipsum</h3>
            <p class="author">by: <span class="author-name">Dolor Sit Amet</span></p>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ab sint, corporis similique exercitationem saepe aliquam molestias quidem adipisci culpa nostrum iusto assumenda eligendi dolor. Culpa, accusantium doloribus! Corporis, ut?
            </p>
        </li>
    </ul>

<% include partials/footer %>