<% include partials/header %>
<%#    <h2>Featured recipe:</h2> %>
    <div class="featured">
        <h3 class="title">Lorem Ipsum</h3>
        <p class="author">submitted by: Dolor Sit Amet</p>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores magni velit eos ipsam, necessitatibus officiis voluptate quis harum laboriosam nulla, molestias quibusdam officia voluptates! Rem natus quis a eveniet nihil!
        </p>
    </div>

<% include partials/footer %>