<% include partials/header %>

    <div class="featured">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim similique quibusdam voluptates? Enim numquam inventore dolorum, placeat consequatur magni corporis ipsam reiciendis odio a soluta atque nobis labore, nesciunt laudantium.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora voluptas dignissimos nam velit repudiandae suscipit quam inventore maiores repellendus! Fugit quia maxime, quae voluptas atque eveniet necessitatibus optio eum.</p>
    </div>

<% include partials/footer %>