@import url(//fonts.googleapis.com/css?family=Montserrat);

/* TOP LEVEL STYLES */

:root {
    --main-font-color: #212121;
    --main-bg-color: #FFFFFF;
    --topbar-border-color: #B71C1C;
    --btn-pad-color: #64B5F6;
    --btn-font-color: #FAFAFA;
    --featured-bg-color: #FFF59D;
    /* --featured-card-title-color: #FFEB3B; */
    --card-bg-color: #F5F5F5;
    --card-shadow-color: #9E9E9E;
    --card-title-color: #9E9E9E;
    --card-li-color: #9E9E9E;
    --card-li-odd-color: #EEEEEE;
    --footer-bg-color: #EEEEEE;

    --card-box-shadow:  0 6px 8px rgba(102,119,136,.03),
                        0 1px 2px rgba(102,119,136,.3),
                        0rem 1em 1em -1em var(--card-shadow-color);
}

html {
    background: var(--main-bg-color);
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: var(--main-font-color);
}

a {
    color: var(--main-font-color);
    text-decoration: none;
}

a:hover {
    /* color: #757575; */
    text-decoration: underline;
}

.btn {
    background: var(--btn-pad-color);
    color: var(--btn-font-color);
    padding: 15px 40px;
    text-align: center;
    box-shadow: var(--card-box-shadow);
    border: none;
    border-radius: 5px;
}

input {
    display: block;
}

/* HEADER STYLES */

.topbar {
    height: auto;
    padding: 10px;
}

.topbar .container-topbar {
    text-align: left;
}

.container {
    max-width: 950px;  
    margin: 0 auto;  
}

.container-body {
    padding: 0 10px;      
}

.topbar h1 {
    margin: 0;
    padding-left: 10px;
    position: relative;
    border-bottom: 3px solid var(--topbar-border-color);    
    padding-bottom: 10px;
    letter-spacing: 0rem;
}

.topbar em {
    font-size: .9rem;
    margin-right: -6px;
}

.menu-button {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 1rem;
    padding: 10px;
    color: var(--btn-font-color);
    background: var(--btn-pad-color);
    -webkit-transform: scaleX(1.4);
        -ms-transform: scaleX(1.4);
            transform: scaleX(1.4);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
}

.menu {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
    transition: max-height .25s linear, 
                padding-bottom .125s linear;
}

.menu-visible {
    max-height: 500px;
    display: inline-block;
    padding-bottom: 12px;    
}

.menu a {
    display: block;
    padding: 20px;
    color: var(--btn-font-color);
    background: var(--btn-pad-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: .7rem;
    box-shadow: var(--card-box-shadow);
}

.menu a:first-child {
    /* margin-top: .25rem; */
    margin-top: 0rem;
}

@media screen and (min-width: 800px) {
    .topbar {
        padding: 1.5rem;
        border-bottom: 3px solid var(--topbar-border-color);
    }
    .container-topbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .container-body {
        padding: 0 20px;
    }
    .topbar h1 {
        border: none;
        position: static;
        padding-bottom: 0;
	    /* padding-left: 10px; */
    }
    .menu-button {
        display: none;
    }
    .menu {
        overflow: visible;
        width: inherit;
        max-height: inherit;
        margin-top: 0;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .menu-visible {
        padding-bottom: 0;
    }
    .menu a {
        padding: 10px 40px;
        margin: 0px 10px !important;
    }
    .container-body {
        padding: 0;
        width: 95%;
    }
}


/*  SHOW ROUTE STYLES */

.card {
    margin-bottom: 20px;
    padding: 5%;
    background: var(--card-bg-color);
    border-radius: 5px;
    position: relative;

    box-shadow: var(--card-box-shadow);
}

.card-title {
    position: absolute;
    top: -10px;
    right: 15px;
    text-transform: lowercase;
    font-style: italic;
    color: var(--card-title-color);
}

.featured .card-title {
    font-size: 1.1rem;
}

.featured {
    background: var(--featured-bg-color);
    font-size: 1.2rem;
}

.featured .card-title {
    color: var(--featured-card-title-color, var(--card-title-color));
}

.featured a.btn {
    float: right;
}

.list-card {
    padding: 0;
}

.list-card li {
    text-decoration: none;
    list-style: none;

    padding: 3%;
    border-bottom: 1px solid var(--card-li-color);
}

.list-card li:nth-child(odd) {
    background: var(--card-li-odd-color);
}

.list-card .desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.author {
    font-style: italic;
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (min-width: 800px) {
    .card {
        margin-top: 2.5%;
        margin: 5%;
    }
    .card-title {
        top: 0;
        right: 30px;
    }
}

/* NEW ROUTE STYLES */

.new {
    background: var(--card-li-odd-color);
}

form input,textarea {
    width: calc(100% - 6px);
    margin-bottom: 10px;
}

form [name="description"] {
    display: block;
    /* width: 100%; */
}




/*  FOOTER STYLES */

footer {
    background: var(--footer-bg-color);
    font-size: .9rem;
    margin-top: 1rem;
    padding: .5rem 1rem;
}