@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* TOP LEVEL STYLES */

:root {
    font-size: 14px;

    --main-font-color: #212121;
    --main-bg-color: #FFFFFF;

    --topbar-border-color: #B71C1C;

    --btn-pad-color: #64B5F6;
    --btn-font-color: #FAFAFA;
    --btn-edit-pad-color: #FFB74D;
    --btn-delete-pad-color: #E57373;

    --featured-bg-color: #FFF59D;
    --show-bg-color: #ECEFF1;
    --show-border: 1px solid #CFD8DC;

    --card-bg-color: #F5F5F5;
    --card-shadow-color: #9E9E9E;
    --card-title-color: #9E9E9E;
    --card-li-color: #9E9E9E;
    --card-li-odd-color: #EEEEEE;

    --footer-bg-color: #EEEEEE;

    --card-box-shadow:  0 6px 8px rgba(102,119,136,.03),
                        0 1px 2px rgba(102,119,136,.3),
                        0rem 1em 1em -1em var(--card-shadow-color);
}

html {
    background: var(--main-bg-color);
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--main-font-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    /* color: #757575; */
    text-decoration: underline;
}

.btn {
    background: var(--btn-pad-color);
    color: var(--btn-font-color);
    padding: 15px 40px;
    text-align: center;
    box-shadow: var(--card-box-shadow);
    border: none;
    border-radius: 5px;
}

input {
    display: block;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 1rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 800px) {
    :root {
        font-size: 16px;
    }
    ul, ol {
        padding: 0 0 0 2rem;
    }
}

/* HEADER STYLES */

header {
    flex: 0 0 auto;
}

.topbar {
    height: auto;
    padding: 10px;
    background: var(--main-bg-color);
}

.topbar .container-topbar {
    text-align: left;
}

.container {
    max-width: 950px;  
}

main {
    flex: 1 0 auto;
}

.container-body {
    padding: 0 10px;
}

.topbar h1 {
    margin: 0;
    padding-left: 10px;
    position: relative;
    border-bottom: 3px solid var(--topbar-border-color);    
    padding-bottom: 10px;
    /* letter-spacing: 0rem; */
    font-size: 2rem;
}

.topbar em {
    font-size: .9rem;
    margin-right: -6px;
}

.menu-button {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 16px;
    padding: 10px;
    color: var(--btn-font-color);
    background: var(--btn-pad-color);
    -webkit-transform: scaleX(1.4);
        -ms-transform: scaleX(1.4);
            transform: scaleX(1.4);
    text-decoration: none !important;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
}

.menu {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
    transition: max-height .25s linear, 
                padding-bottom .125s linear;
}

.menu-visible {
    max-height: 500px;
    display: inline-block;
    padding-bottom: 12px;    
}

.menu a {
    display: block;
    padding: 20px;
    color: var(--btn-font-color);
    background: var(--btn-pad-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: .7rem;
    box-shadow: var(--card-box-shadow);
}

.menu a:first-child {
    /* margin-top: .25rem; */
    margin-top: 0rem;
}

@media screen and (min-width: 800px) {
    .topbar {
        padding: 1.5rem;
        border-bottom: 3px solid var(--topbar-border-color);
    }
    .container {
        margin: 0 auto;  
    }
    .container-topbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .container-body {
        padding: 0 20px;
        padding: 0;
        width: 95%;
    }
    .topbar h1 {
        font-size: 2.5rem;
        border: none;
        position: static;
        padding-bottom: 0;
	    /* padding-left: 10px; */
    }
    .menu-button {
        display: none;
    }
    .menu {
        overflow: visible;
        width: inherit;
        max-height: inherit;
        margin-top: 0;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .menu-visible {
        padding-bottom: 0;
    }
    .menu a {
        padding: 10px 40px;
        margin: 0px 10px !important;
    }
}


/*  SHOW ROUTE STYLES */

.card {
    margin-bottom: 20px;
    padding: 5% 5% 3%;
    background: var(--card-bg-color);
    border-radius: 5px;
    position: relative;

    box-shadow: var(--card-box-shadow);
}

.card-title {
    position: absolute;
    top: -10px;
    right: 15px;
    text-transform: lowercase;
    font-style: italic;
    color: var(--card-title-color);
}

.featured {
    background: var(--featured-bg-color);
    border: 1px solid #FFEE58;
}

.featured .card-title {
    font-size: 1.1rem;
    color: var(--featured-card-title-color, var(--card-title-color));
}

.big {
    font-size: 1.2rem;
}

.big h2 {
    font-size: 1.6rem;
}

.big p[class="author"] {
    font-size: 1rem;
}

.featured a.btn {
    float: right;
}

.list-card {
    padding: 0 !important;
    border: 1px solid #E0E0E0;
}

.list-card li {
    text-decoration: none;
    list-style: none;

    padding: 3%;
    border-bottom: 1px solid var(--card-li-color);
}

.list-card li:nth-child(odd) {
    background: var(--card-li-odd-color);
}

.list-card li:last-child {
    border-bottom: none;
}

.list-card .desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.author {
    font-style: italic;
}

@media screen and (min-width: 800px) {
    .card {
        margin: 5%;
        padding: 3% 5%;
    }
    .card-title {
        top: 0;
        right: 30px;
    }
}

/* NEW & EDIT ROUTE STYLES */

.new {
    background: var(--card-li-odd-color);
    border: 1px solid #E0E0E0;
}

form input,textarea {
    width: calc(100% - 6px);
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    padding: 5px;
}

form [name="description"] {
    display: block;
    /* width: 100%; */
}

form [type="submit"] {
    float: right;
    margin: .5rem;
}

.more-ingredients, .more-steps {
    float: right;
    color: #64B5F6;
    font-size: 1rem;
}

.steps {
    counter-reset: steps;
}

.steps div {
    counter-increment: steps;
}

.steps div::before {
    content: counter(steps)'.';
    display: inline-block;
    padding: 0px 0 5px;
}

.steps div:first-child::before {
    padding: 10px 0 5px;
}

form hr {
    color: #9E9E9E;
    margin: 20px 0;
}

@media screen and (min-width: 800px) {
    form [type="submit"] {
        margin-top: 20px;
    }
}

/*  SHOW ROUTE STYLES */

.show {
    background: var(--show-bg-color);
    border: var(--show-border);
    padding-bottom: 2rem;
}

.show h4 {
    margin-bottom: .5rem;
}

.show-list {
    /* list-style-position: inside; */
    line-height: 1.5rem;
}

ul.show-list {
    list-style: circle;
}

.show li {
    margin-top: 10px;
}

.show-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1rem auto;
}

.show .btn {
    margin: 10% 5% 0;
    display: block;
    float: none;
}

.edit {
    background: var(--btn-edit-pad-color);
}

.delete {
    background: var(--btn-delete-pad-color);

    /* margin-left: 5%; */
}

@media screen and (min-width: 426px) {
    .show .btn {
        float: right;
        margin: 0 0 0 5%;
    }
}

@media screen and (min-width: 800px) {
    .show li span{
        position: relative;
        left: 1.5rem;
    }
    .show li {
        margin-top: 0;
    }
    .show-list {
        line-height: 2rem;
    }
    .show-hr {
        margin: 2rem auto;
    }
    .show .btn {
        float: right;
        margin: 0 0 0 5%;
    }
}

/*  FOOTER STYLES */

footer {
    background: var(--footer-bg-color);
    font-size: .9rem;
    padding: .5rem 1rem;
    flex: 0 0 auto;
}
